#canvas-container {
    background: #fff;
    border: 4px dashed #a8dadc;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    touch-action: none; /* 呢行係重點，iPhone 必須要有 */
}
canvas { 
    display: block;
    width: 300px; 
    height: 300px; 
    touch-action: none; 
}
